events/*
images/*
images1
calibration/*
reconstruction
pretrained/*
calibration_results
Rondo1
Sync-done-calibrated
Statycznie1
images2
Rondo1.zip
Statycznie1.zip
Sync-done-calibrated.zip

__pycache__/*
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz

